[Unit]
Description=Trading bot service

[Service]
Type=simple
ExecStart=/home/ubuntu/anaconda3/envs/trading-bot/bin/python /home/ubuntu/trading-bot-interval/main.py
Restart=always
RestartSec=5s
StartLimitBurst=20
