[Unit]
Description=Websocket data for trading bot service

[Service]
Type=simple
ExecStart=/home/ubuntu/anaconda3/envs/trading-bot/bin/python /home/ubuntu/trading-bot-interval/websocket_realtime_acquisition.py
Restart=always
RestartSec=30s
StartLimitBurst=20

[Install]
WantedBy=multi-user.target
