[Unit]
Description=Trading bot service

[Service]
Type=simple
ExecStart=cd /home/bot/MoneyMakr-bot && /home/bot/anaconda3/envs/trading-bot/bin/python -m src.main
Restart=always
RestartSec=5s
StartLimitBurst=20
